@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.main-header {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  background-color: #074090;
  color: white;
  font-size: xx-large;
  font-weight: bolder;
  line-height: 60px;
}
